<div class="signUpUser">
    <div class="small-12 medium-10 large-8 columns" id="signUp">
        <%= form_for @user, :id => "myForm", :html => {"data-abide" => ''} do |u| %>
            <%= render partial: '/layouts/error_messages' %>
            <div class="row">
                <div class="small-12 medium-7 large-6 columns">
                    <label><u>First name: </u><br /><small>Required</small>
                        <%= u.text_field :first_name, :placeholder => "Enter your first name" %>
                    </label>
                    <small class="error">Please enter your email.</small>
                </div>
            </div>

           <div class="row">
                <div class="small-12 medium-7 large-6 columns">
                    <label><u>Last name: </u><br /><small>Required</small>
                        <%= u.text_field :last_name, :placeholder => "Enter your last name" %>
                    </label>
                    <small class="error">Please enter your email.</small>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-7 large-6 columns">
                    <label><u>Email: </u><br /><small>Required</small>
                        <%= u.text_field :email, :placeholder => "Enter your email" %>
                    </label>
                    <small class="error">Please enter your email.</small>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-7 large-6 columns">
                    <label><u>Password: </u><br /><small>Required</small>
                        <%= u.password_field :password, :placeholder => "6+ characters" %>
                    </label>
                    <small class="error">Please enter your email.</small>
                </div>
            </div>

            <div class="row">
                <div class="small-12 medium-7 large-6 columns">
                    <label id="numero5"> <br />
                        <%= u.submit "Sign up!" %> <br />
                        <%= link_to "Sign Up with LinkedIn", "/auth/linkedin" %> <br /> 
                        <a href="#" data-reveal-id="myModal">Log In</a>

                    </label>
                </div>
            </div>
        <% end %>
    </div>

    <br />
    <br />

    <div class="small-12 medium-12 large-12 columns">
        <div class="signInParagraph" id="numero1">
            <p class="signInList">
                <div class="small-12 medium-12 large-12 columns" id="meetUp">
                    <h3 class="paragraphTitle"  id="numero1"><u>Why you want to use this site: </u></h3>
                    <br />
                    <label> <br />
                        <div class="small-12 medium-6 large-3 columns">
                            <p id="innerP">Meet other people with whom to program!</p>
                        </div>

                        <div class="small-12 medium-6 large-7 columns">
                            <%= image_tag("meet.jpg", :alt => "thumbs up pic") %>
                        </div>
                    </label>
                </div>

                <div class="small-12 medium-12 large-12 columns" id="learn">
                    <h3 class="reason1"><u>Reasons to use this site: </u></h3>
                    <br />
                    <label id="numero2"> <br />
                        <div class="small-12 medium-6 large-3 columns">
                            <p id="innerP">You will learn faster with someone else.</p>
                        </div>

                        <div class="small-12 medium-6 large-7 columns">
                            <%= image_tag("learning.jpg", :alt => "heads together pic") %>
                        </div>
                    </label>
                </div>

                <div class="small-12 medium-12 large-12 columns" id="share">
                    <h3 class="reason2"><u>Reasons to use this site: </u></h3>
                    <br />
                    <label id="numero3"> <br />
                        <div class="small-12 medium-6 large-3 columns">
                            <p id="innerP">Share knowledge with each other.</p>
                        </div>

                        <div class="small-12 medium-6 large-7 columns">
                            <%= image_tag("share.jpg", :alt => "jack russel on a computer pic") %>
                        </div>
                    </label>
                </div>

                <div class="small-12 medium-12 large-12 columns" id="focus">
                    <h3 class="reason3"><u>Reasons to use this site: </u></h3>
                    <br />
                    <label id="numero4"> <br />
                        <div class="small-12 medium-6 large-3 columns">
                            <p id="innerP">Focus on the problem at hand.</p>
                        </div>

                        <div class="small-12 medium-6 large-7 columns">
                            <%= image_tag("focus.jpg", :alt => "tic toc pic") %>
                        </div>
                    </label>
                </div>
            </p>
        
        </div>
    </div>
</div>

<ol class="joyride-list" data-joyride>
  <li data-id="firstStop" data-text="Next" data-options="tip_location: top">
    <p>Welcome to Paired!</p>
  </li>
  <li data-id="numero1" data-class="custom so-awesome" data-text="Next">
    <h4>Stop #1</h4>
    <p>Meet a pair.</p>
  </li>
  <li data-id="numero2" data-button="Next" data-options="tip_location:top;tip_animation:fade">
    <h4>Stop #2</h4>
    <p>Learn Faster</p>
  </li>
  <li data-id="numero3" data-button="Next" data-options="tip_location:top;tip_animation:fade">
    <h4>Stop #3</h4>
    <p>Share knowledge</p>
  </li>
  <li data-id="numero4" data-button="Next" data-options="tip_location:top;tip_animation:fade">
    <h4>Stop #4</h4>
    <p>Focus more</p>
  </li>
  <li data-id="numero5" data-button="Next" data-options="tip_location:top;tip_animation:fade">
    <h4>Stop #5</h4>
    <p>Sign up, tell us what you know, and connect.</p>
  </li>
  <li data-button="End">
    <h4>Stop #6</h4>
    <p>And meet your pair!</p>
  </li>
</ol>


<div id="myModal" class="reveal-modal" data-reveal>
  <h2 id="title" >Log In</h2>
    <div>
        <%= form_for @user, {url:"/auths", method:"post"} do |u| %>
            <div class="row">
                <div class="small-12 medium-6 large-4 columns">
                    <label> Email:<br />
                        <%= u.text_field :email, :placeholder => "Enter your email" %>
                    </label>
                </div>
            </div>


            <div class="row">
                <div class="small-12 medium-6 large-4 columns">
                    <label> Password:<br />
                        <%= u.password_field :password, :placeholder => "Enter your password" %>
                    </label>
                </div>
            </div>

            
            <div>
                <%= u.submit "Log in" %> | 
                <%= link_to "Sign up", new_user_path %> 
            </div>
        <% end %>
    </div>  
  <a class="close-reveal-modal">&#215;</a>
</div>

<script>
$('#myForm')
  .on('invalid', function () {
    var invalid_fields = $(this).find('[data-invalid]');
    console.log(invalid_fields);
  })
  .on('valid', function () {
    console.log('valid!');
  });
</script>