<h1>My Profile</h1>

<div>
    <%= form_for @user do |u| %>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>First name:<br />
                    <%= u.text_field :first_name, :placeholder => "Enter your first name" %>
                </label>
                <!-- <small class="error">Please enter your first name.</small> -->
            </div>
        </div>
    
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>Last name:<br />
                    <%= u.text_field :last_name, :placeholder => "Enter your last name" %>
                </label>
                <!-- <small class="error">Please enter your last name.</small> -->
            </div>

        </div>
        

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>Username:<br />
                    <%= u.text_field :username, :placeholder => "Enter your username" %>
                </label>
                <!-- <small class="error">Please enter your username.</small> -->
            </div>
        </div>
        
            
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>Interest:<br />
                     <!-- collection_check_boxes -->
                    <%= collection_select :user, :password, Interest.all, :id, :name %>
                </label>
                <!-- <small class="error">Please check an interest box.</small> -->
            </div>
        </div>

           
        <div class="row" id='rating_selection'>
            <div class="small-12 medium-6 large-4 columns"  >
                 <label>Choose Your Skill Level</label>
                        <input type="radio" name="rating" value="1" id="rating1"><label for="rating1">1</label>
                        <input type="radio" name="rating" value="2" id="rating2"><label for="rating2">2</label>
                        <input type="radio" name="rating" value="3" id="rating3"><label for="rating3">3</label>
                        <input type="radio" name="rating" value="4" id="rating4"><label for="rating4">4</label>
                        <input type="radio" name="rating" value="5" id="rating5"><label for="rating5">5</label>
            </div>
        </div>


        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> Location:<br />
                    <%= u.text_field :location, :placeholder => "Enter your city" %>
                </label>
            </div>
        </div>
        

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> Email:<br />
                    <%= u.text_field :email, :placeholder => "Enter your email" %>
                </label>
                <!-- <small class="error">Please enter your email.</small> -->
            </div>
        </div>
        

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> Password:<br />
                    <%= u.password_field :password, :placeholder => "Enter your password" %>
                </label>
                <!-- <small class="error">Please enter your password.</small> -->
            </div>
        </div>
        

        
        <div class="row">
            <div class="button [tiny]">
                <label> <br />
                    <%= u.submit "Finish profile" %>
                </label>
            </div>
        </div>

    <% end %>
</div>
