<%= render partial: '/layouts/navbar' %>
<h1>My Profile</h1>
<!-- <form data-abide> -->
<div class="row">
    <div class="small-12 medium-6 large-4 columns">
        <label>Interests:</label><br /><small>required</small>

            <%= form_for @user_interest, :html => {"data-abide" => ''} do |ui|%>

                <%= ui.hidden_field(:user_id, value: @user.id) %>
                
                <%= ui.collection_select :interest_id, Interest.all, :id, :name %>

                1 <%= ui.radio_button(:skill_level, 1) %>
                2 <%= ui.radio_button(:skill_level, 2) %>
                3 <%= ui.radio_button(:skill_level, 3) %>
                4 <%= ui.radio_button(:skill_level, 4) %>
                5 <%= ui.radio_button(:skill_level, 5) %>

                <%= ui.submit "Add Skill" %> 
                <small class="error">Please only click a language once.</small>           
            <% end %>
    </div>
</div>

<h1><%=current_user.first_name %>'s languages and skill levels</h1>

<div>
    <% @user_interests.each do |ui| %>
        <%= Interest.find_by(id: ui.interest_id).name %> 
        <%= ui.skill_level %> 
        <br>
    <% end %> 
    <br>
    <br>
</div>

<div>
    <%= form_for @user, :html => {"data-abide" => ''} do |u|%>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>First name:<br /><small>required</small>
                    <%= u.text_field :first_name, :placeholder => "Enter your first name" %>
                </label>
                <small class="error">Please enter your first name.</small>
            </div>
        </div>
    
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>Last name:<br /><small>required</small>
                    <%= u.text_field :last_name, :placeholder => "Enter your last name" %>
                </label>
                <small class="error">Please enter your last name.</small>
            </div>

        </div>
        

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>Username:<br />
                    <%= u.text_field :username, :placeholder => "Enter your username" %>
                </label>
            </div>
        </div>
        

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> Location:<br />
                    <%= u.text_field :location, :placeholder => "Enter your city" %>
                </label>
            </div>
        </div>
        

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> Email:<br /><small>required</small>
                    <%= u.text_field :email, :placeholder => "Enter your email" %>
                </label>
                <small class="error">Please enter your email.</small>
            </div>
        </div>
        
        
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> <br />
                    <%= u.submit "Finish profile" %>
                </label>
            </div>
        </div>

    <% end %>
</div>
<!-- </form>
 -->

