<%= render partial: '/layouts/navbar' %>
<h1 class="profilePage"><u>Profiles</u></h1>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">1 stars</a></dd>
  <dd><a href="#">2 stars</a></dd>
  <dd><a href="#">3 stars</a></dd>
</dl>

<%# @users.each do |u| %> 
  
  <!-- <div>
    <%#= u.username %>
    <%#= u.email %>
    <%#= u.hashed_password %>
  </div>

<%# end %> 
<br />   -->



<% @users.each do |u| %>
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
                <span class="name"><%= u.full_name %></span>

        </div>
            <div class="back">
                <div class="back-logo"></div>
                <div class="back-title"><%= u.full_name %></div>
                <p>
                    <%= u.location  %>
                    <br />
                    <%= u.email  %>
                    <br />
                    <%#= u.interest.first.name %> 
                </p>
            </div>
    </div>
  </div>
<% end %>

