<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0669qE8-xHbI-414wmX3_yLJ6q-r3bFY&sensor=true"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true"></script>
<script src="//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js" type="text/javascript"></script>

<%= render partial: '/layouts/navbar' %>

<h1 id="title"><u>Profiles</u></h1>

<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="#">All</a></dd>
  <dd><a href="#">1 stars</a></dd>
  <dd><a href="#">2 stars</a></dd>
  <dd><a href="#">3 stars</a></dd>
</dl>

<%# @users.each do |u| %> 
  
  <!-- <div>
    <%#= u.username %>
    <%#= u.email %>
    <%#= u.hashed_password %>
  </div>

<%# end %> 
<br />   -->



<% @users.each do |u| %>
  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
        <div class="front">
                <span class="name"><%= u.full_name %></span>

        </div>
            <div class="back">
                <div class="back-logo" style="background: url(<%= u.avatar_file_size ? u.avatar.url(:medium) : "/assets/peared.jpg" %>) 0 0 no-repeat">

                </div>
                <div class="back-title"><%= u.full_name %></div>
                <p>
                    <%= u.location  %>
                    <br />
                    <%= u.email  %>
                    <br />
                    <%#= u.interest.first.name %> 
                </p>
            </div>
    </div>
  </div>
<% end %>


<%= render partial: 'map' %>
