<body class="signUpPage">

<h1>Paired</h1>
<h4>Learn faster with a pair</h4>

<div>
    <h4>Sign up!</h4>
    <%= form_for @user do |u| %>
        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>First name:<br />
                    <%= u.text_field :first_name, :placeholder => "Enter your first name" %>
                </label>
            </div>
        </div>

       <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label>Last name:<br />
                    <%= u.text_field :last_name, :placeholder => "Enter your last name" %>
                </label>
            </div>

        </div>

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> Email:<br />
                    <%= u.text_field :email, :placeholder => "Enter your email" %>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> Password:<br />
                    <%= u.password_field :password, :placeholder => "Enter your password" %>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 large-4 columns">
                <label> <br />
                    <%= link_to "Log in", new_auth_path %> |
                    <%= u.submit "Sign up!" %>
                </label>
            </div>
        </div>
    <% end %>
</div>


<!-- <button data-reveal-id="myModal" data-reveal-ajax="http://some-url">
    Click Me For A Modal
</button>

<div id="myModal-1" class="reveal-modal medium">
  <h1>Header</h1>
  <p>Lorem ipsum</p>
  <a class="close-reveal-modal">&#215;</a>
</div> -->
