<div>
    <%= form_for @user do |u| %>
        <div>
            <%= u.label :username %><br />
            <%= u.text_field :username, :placeholder => "Enter your username" %>
        </div>

        <div>
            <%= u.label :email %><br />
            <%= u.text_field :email, :placeholder => "Enter your email" %>
        </div>
        <div>
            <%= u.label :password %><br />
            <%= u.password_field :password, :placeholder => "Enter your password" %> 
        </div>  
        <div>
            <%= u.submit "Sign up" %>       
        </div>
    <% end %>
</div>
