<%= render partial: '/layouts/navbar' %>
<h1>My Profile</h1>
<h3>
    <%= current_user ? current_user.username : "(logged in)" %> 
</h3>

  
  <div>
    <u>Name:</u> <br />
    <%= current_user.full_name %><br />
    <u>Email:</u> <br />
    <%= current_user.email %><br />
    <u>Location:</u><br /> 
    <%= current_user.location %><br />
    <u>Interests:</u><br />
    <% unless current_user.interests.empty? %>
    <%= current_user.interests.first.name %>
    <% end %>
  </div>
<br />
<%= link_to "Home", users_path %><br />
